<section class="TodoSection">
  <div class=TodoSectionTitle>
    <p class="TodoSectionTitle-text"><%= section_title%></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.all.each do |todo|%>
    <li class="TodoItem">
      <div class="TodoItem-container">
        <% checked = (todo.completed)? "checked": ""%>
        <input class ="TodoItem-checkbox" type="checkbox" <%=checked%>>
        <% classname = (todo.completed)? "TodoItem-textCompleted" : "TodoItem-text" %>
        <p class = <%=classname%> ><%=todo.todo_text%></p>
        <% if show_dueDate %>
          <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
        <% end %>
        <img class="TodoItem-deleteicon" src="delete.png" alt="deleteicon" height=16px width=16px></a>
      </div>
    </li>
    <% end %>
  </ul>
</section>
