<section class="TodoSection">
  <div class=TodoSectionTitle>
    <p class="TodoSectionTitle-text"><%= section_title%></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.all.each do |todo|%>
    <li class="TodoItem">
      <div class="TodoItem-container">
        <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
          <%=check_box_tag("completed",nil,todo.completed,{onclick: "this.form.submit()",class: "TodoItem-checkbox"})%>
        <% end %>
        <p class= <%= todo.completed ? "TodoItem-textCompleted" : "TodoItem-text" %>><%=todo.todo_text%></p>
        <% if show_dueDate %>
          <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
        <% end %>
        <%= form_with(url: "/todos/#{todo.id}", method: "DELETE") do %>
          <%= image_submit_tag("delete.png",class: "TodoItem-deleteicon",alt: "deleteicon")%>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</section>
